{% extends "base/index.jinja2" %}
{% import "_macros/posts.jinja2" as _posts %}

{% block body %}
	<div>
	{% if view.info %}
		{{_users.user_info(view.info)}}
	{% endif %}
	</div>
	<hr/>
	{{_posts.render_recent_user_posts(view, user)}}
{% endblock body %}
