{% extends "profile/dashboard.jinja2" %}

{% block dashboard_body %}
	<section class="box password-change-form">
		<h3>Change password</h3>
		<div>
			<form action="" method="POST" autocomplete="off" name="change-password-form" accept-charset="UTF-8">
				New password:
				<input type="password" autocomplete="off" name="password" class="u-full-width" maxlength="256" required/>
				<br/>
				Repeat:
				<input type="password" name="repeated" class="u-full-width" maxlength="256" required/>
				<br/>
				<input type="submit" value="Send" class="button button-primary"/>
				{{_forms.csrf_form_input()}}
			</form>
		</div>
		<p class="hint">Password needs to be at least 6 characters long.</p>
	</section>
{% endblock dashboard_body %}
