{% extends "base/index.jinja2" %}

{% block body %}
	<div class="container box auth login-form">
		<h3>Login</h3>

		{{_actions.render_message(view.action_result)}}
		{% set form_data = (dict() if not view.action_result else view.action_result.input_data) %}
		
		<form action="" method="POST" accept-charset="UTF-8">
			<div class="u-full-width">
				<input type="text" name="username" placeholder="username"
					   value="{{form_data.username}}"
					   class="u-full-width" maxlength="128"/>
			</div>
			<div class="u-full-width">
				<input type="password" name="password" placeholder="password" class="u-full-width" maxlength="256"/>
			</div>
			<input type="submit" value="Login" class="button button-primary"/>
			{{_forms.csrf_form_input()}}
		</form>

		<a href="{{url_for('profile.signup_form')}}">Sign-up</a>
		|
		<a href="{{url_for('profile.recovery_form')}}">Profile recovery</a>
		
	</div>
{% endblock body %}
