{% extends "base/index.jinja2" %}

{% block body %}
	<section class="box recovery container">
		<h3>New password</h3>
		{{_actions.render_message(view.action_result)}}
		<div>
			<form action="{{url_for('profile.recovery_set_password')}}"
				  method="POST"
				  autocomplete="off"
				  name="recovery-password-change"
				  accept-charset="UTF-8">
				  <input type="password" name="password" placeholder="password" class="u-full-width" maxlength="256"/>
				  <input type="submit" value="Recover" class="button button-primary"/>
				  <input type="hidden" name="recovery_id" value="{{view.recovery_id}}"/>
				  {{_forms.csrf_form_input()}}
			</form>
		</div>
	</section>
{% endblock body %}
