{% extends "profile/dashboard.jinja2" %}

{% block dashboard_body %}
	<div class="profile removal-form box">
		<h3>Account removal</h3>
		<p class="hint">
		</p>

		<form action="{{url_for('profile.remove')}}" method="POST" accept-charset="UTF-8">
			<input type="hidden" name="verification" value="{{view.verification}}"/>
			<hr/>
			<label for="keep-username">
				<input type="checkbox" name="keep-username" id="keep-username" value="1" checked/>
				Keep username registered
			</label>
			<span class="hint">
				Keeps your username reserved and visible to others.
			</span>
			<hr/>
			<label for="keep-comments">
				<input type="checkbox" name="keep-comments" id="keep-comments" value="1" checked/>
				Keep comments
				<span class="hint"></span>
			</label>
			<span class="hint">
				If unchecked, the content of your comments will be deleted.
			</span>
			<hr/>
			<p class="hint">
				Your profile details will be <b>removed</b>.
				<br/>
				Your posts will be <b>kept</b>.
			</p>
			<input type="submit" class="button button-remove" value="Remove my profile"/>
			{{_forms.csrf_form_input()}}
		</form>
	</div>
{% endblock dashboard_body %}
