{% extends "profile/dashboard.jinja2" %}

{% block dashboard_body %}
	{% if user.email %}
		<div class="profile remove-email-form">
			<p class="hint">
				Please, keep in mind you will not be able to recover your password
				without an email address assigned to your account.
			</p>
			<form action="{{url_for('profile.remove_email')}}" method="POST" accept-charset="UTF-8">
				<input type="hidden" name="email" value="{{user.email}}"/>
				<input type="submit" class="button button-remove" value="Remove my email address"/>
				{{_forms.csrf_form_input()}}
			</form>
		</div>
	{% endif %}

{% endblock dashboard_body %}
