{% import "ki/macros/views/users.jinja2" as _users %}


{% macro title(post, external=False) %}
	{% set details_url = url_for("post.details", post_id=post.id, slug=post.slug) %}
	{% if external %} 
		<a href="{{post.url or details_url}}" class="title">{{post.title}}</a> 
	{% else %} 
		<a href="{{details_url}}" class="title">{{post.title}}</a> 
	{% endif %} 
{% endmacro %}


{% macro source(post) %}
	{% if post.source_domain %}
		| <a href="{{post.url}}" class="source">{{post.source_domain}}</a>
	{% endif %}
{% endmacro %}


{% macro meta(post, user) %}
	<div class="meta">
		{{_users.user_link(post.author)}} |
		{{post.ctime|to_ago_string}} |
		<a href="{{url_for('post.details', post_id=post.id, slug=post.slug, _anchor='comments')}}"> 
			comments: {{post.total_comments or 0}} 
		</a> 
		{{source(post)}}
	</div>
{% endmacro %}


{% macro description(post) %}
	{{post.description}}
{% endmacro %}

{% macro content(post) %}
	<section>
		{{post.content}}
	</section>
{% endmacro %}


{% macro edit_url(view) %}
	{% set post = view.post %}
	{% set user = view.user %}
    {% if post.author == user.name or user.is_admin or user.is_moderator %}
        <a href="{{url_for('post.edit', post_id=post.id)}}"
           class="control edit-post">
           <span>edit</span>
        </a>
    {% endif %}
{% endmacro %}
