{% import "ki/macros/views/posts/generic.jinja2" as _posts %}
{% import "ki/macros/views/tags.jinja2" as _tags %}


{% macro listing(view) %}
	<div class="posts listing">
		{% if not view.posts %}
			<h3>{{_("No posts")}}</h3>
		{% else %}
			<ul>
			{% for post in view.posts %}
				<li>
					<div class="row">
						<div class="title">
							{{_posts.title(post)}}
							{{_posts.edit_url(post, view)}}
						</div>

						<div class="meta">
							{{_posts.meta(post)}}
						</div>

						<div class="tags">
							{{_tags.tags_list(post.tags)}}
						</div>

						<div class="description">
							{{_posts.description(post)}}
						</div>
						<br/>
					</div>
				</li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>
{% endmacro %}


{% macro recent_user_posts(view, user) %}
	<div class="posts">
		<h4>{{_("Recent posts")}}</h4>
		<div class="details">
			{% for post in view.posts %}
				<a href="{{url_for('post.details', post_id=post.id, slug=post.slug)}}" class="title">
					{{post.title}}
				</a>
				{# {{render_edit_url(post, user)}} #}
				{# {{render_meta(post, user)}} #}
				{# {{render_tags_div(post.tags)}} #}
				<br/>
			{% endfor %}
		</div>
	</div>
{% endmacro %}
