{% extends "base/index.jinja2" %}

{% macro render_help_menu(menu) %}
	<h3>Help</h3>
	{% for entry in menu %}
		<section>
			<div class="title">{{entry.section}}</div>
			<ul class="unstyled">
				{% for item in entry.elements %}
					<li><a href="{{item.href}}">{{item.caption}}</a></li>
				{% endfor %}
			</ul>
		</section>
	{% endfor %}
{% endmacro %}	


{% block body %}
	<div class="help row">
		<div class="four columns menu">
			{{render_help_menu(view.menu)}}
		</div>
		<div class="eight columns">
			{{_actions.render_message(view.action_result)}}
			<div class="body">
				{% block help_body %}
				{% endblock help_body %}
			</div>
		</div>
	</div>

{% endblock body %}
