{% macro view_menu(view) %}
	{% if view.menu %}
		<ul class="view-menu u-pull-left">
			{% for item in view.nav %}
				<li><a href="{{item.href}}">{{item.caption}}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}


{# {% macro render_profile_menu(menu, user) %} #}
{# 	<ul class="right-menu"> #}
{# 		{% if user.id %} #}
{# 			<li> #}
{# 				<a href="{{url_for('profile.dashboard')}}"> #}
{# 					{{user_name(user.name)}} #}
{# 				</a> #}
{# 			</li> #}
{# 			{% for item in menu %} #}
{# 				<li><a href="{{item.href}}">{{item.caption}}</a></li> #}
{# 			{% endfor %} #}
{# 		{% else %} #}
{# 			<li><a href="{{url_for('profile.login')}}">Login</a></li> #}
{# 		{% endif %} #}
{# 	</ul> #}
{# {% endmacro %} #}
