{% extends "help/index.jinja2" %}


{% block help_body %}
	<ul class="unstyled">
		<li>
			<strong>User</strong>
			<p>
				Any registered user is allowed to submit
				posts and comments.
			</p>	
		</li>
		<li>
			<strong>Moderator</strong>
			<p>
				A user with additional permissions to make corrections
				in submitted content as necessary.
			</p>	
		</li>
		<li>
			<strong>Administrator</strong>
			<p>
				
			</p>	
		</li>
	</ul>
{% endblock help_body %}
