{% extends "base/index.jinja2" %}

{% block body %}
	<div class="info">
		<section>
			<strong>Modernschizoid</strong> is a community driven platform collecting
			information, articles and tools which can help us better understand
			and improve our lives in contemporary society.
			We focus on things we have in common.
			<br/>
		</section>

		<br/>

		<section>
			<strong>Contact</strong>:
			<span>contact</span>@<span>modernschizoid.com</span>
			<br/>
			<strong>Support</strong>:
			<span>support</span>@<span>modernschizoid.com</span>
		</section>
	</div>
{% endblock body %}
