{% macro user_link(username) %}
    {% if username %}
        <a href="{{url_for('users.user', name=username|quote_plus)}}"
           class="user">
           {{username}}
        </a>
    {% else %}
        -
    {% endif %}
{% endmacro %}


{% macro user_info(info) %}
	<div class="user info">
		<p class="name
				  {{"closed" if info.is_closed else ""}}
				  {{"inactive" if not info.is_active else ""}}">
			{{info.name}}
		</p>
		{% if info.is_closed or not info.is_active %}
			{% if info.is_closed %}
				<strong>Deleted</strong>
			{% elif not info.is_active %}
				<strong>Suspended</strong>
			{% endif %}
			<span class="hint">{{info.mtime|ts_to_date_str}}</span>
			<br/>
		{% endif %}
		Joined: {{info.ctime|to_ago_string}} ({{info.ctime|ts_to_date_str}}) |
		<a href="{{url_for('posts.by_user_paged', username=info.name|quote_plus, page=1)}}">posts: {{info.total_posts}}</a> |
		comments: {{info.total_comments}}
		<br/>
		{% if info.is_admin %}
			<strong>Administrator</strong>
		{% elif info.is_moderator %}
			<strong>Moderator</strong>
		{% endif %}
	</div>
{% endmacro %}
