{% macro render_markdown(value) %}
	{% if value %}
		{% autoescape false %}
			{{value|escape|md_to_html}}
		{% endautoescape %}
	{% endif %}
{% endmacro %}


{% macro formatting_help_link() %}
	<a href="{{url_for('help.content_formatting')}}"
	   target="_blank"
	   title="Opens in new tab">
		Formatting help
	</a>
{% endmacro %}
