{% import "_macros/forms.jinja2" as _forms %}
{% import "_macros/content.jinja2" as _content %}


{% macro post_author_link(post, user) %}
	{% if post.author %}
		<a href="{{url_for('users.user', username=post.author|quote_plus)}}"
		   class="user">
			{{post.author}}
		</a>
	{% else %}
		-
	{% endif %}
{% endmacro %}


{% macro post_source(post) %}
	{% if post.source_domain %}
		| <a href="{{post.url}}" class="source">{{post.source_domain}}</a>
	{% endif %}
{% endmacro %}


{% macro render_meta(post, user) %}
	<div class="meta">
		{{post_author_link(post, user)}} |
		{{post.ctime|to_ago_string}} |
		<a href="{{url_for('post.show', post_id=post.id, slug=post.slug)}}">
			comments: {{post.total_comments or 0}}
		</a>
		{{post_source(post)}}
	</div>
{% endmacro %}


{% macro render_meta_post(post, user) %}
	<div class="meta">
		{{post_author_link(post, user)}} |
		{{post.ctime|to_ago_string}} |
		<a href="{{"#comments-" + post.id|string}}">
			comments: {{post.total_comments or 0}}
		</a>
		{{post_source(post)}}
	</div>
{% endmacro %}


{% macro render_tags_links(post) %}
	{% for tag in post.tags %}
		<a href="{{url_for('posts.by_tag', tag=tag|quote_plus)}}" class="tag">{{tag}}</a>
	{% endfor %}
{% endmacro %}

{% macro render_tags_div(post) %}
	<div class="tags">
		{{render_tags_links(post)}}
	</div>
{% endmacro %}	


{% macro render_pagination(pagination) %}

	<div class="pagination">
		{% if pagination.prev_page_url %}
			<a href="{{pagination.prev_page_url}}" class="">&laquo; Page {{pagination.prev_page_number or ""}} </a>
		{% endif %}
		{% if pagination.prev_page_url and pagination.next_page_url %} | {% endif %}
		{% if pagination.next_page_url %}
			<a href="{{pagination.next_page_url}}" class="">Page {{pagination.next_page_number}} &raquo;</a>
		{% endif %}
	</div>
</div>
{% endmacro %}	


{% macro render_new_comment_form(view, request, user) %}
	{% set anchor_id = view.post.id|string + "-new-comment" %}
	<div class="new-comment-form" id="{{anchor_id}}">
		<hr/>
		{% if not user.id %}
			<a href="{{url_for('profile.login', next_url=request.path, _anchor=anchor_id)}}">
				Log in
			</a> to leave a comment.
		{% else %}
			{% if action_result and action_result.status == False %}
				<p class="error">{{action_result.result.error}}</p>
			{% endif %}

			{{_content.formatting_help_link()}}
			<form action="{{url_for('post.save_comment')}}" method="POST" accept-charset="UTF-8">
				  <input type="hidden" name="post_id" value="{{view.post.id}}"/>
				  <textarea name="comment" class="u-full-width"></textarea>
				  <input type="submit" value="Comment" class="button-primary"/>
				  {{_forms.csrf_form_input()}}
			</form>

	{% endif %}
	</div>
{% endmacro %}


{% macro render_reply_form(view, user, comment) %}
	{% if user.id %}
		{% if view.reply_to_id == comment.id %}
			<div class="reply-form">
				{% if action_result and action_result.status == False %}
					<p class="error">{{action_result.result.error}}</p>
				{% endif %}
				Your reply:
				<br/>{{_content.formatting_help_link()}}
				<form action="{{url_for('post.save_comment', post_id=view.post.id)}}" method="POST" accept-charset="UTF-8">
					<input type="hidden" name="post_id" value="{{view.post.id}}"/>
					<input type="hidden" name="parent_comment_id" value="{{comment.id}}"/>
					<textarea name="comment" class="u-full-width" placeholder=""></textarea>
					<input type="submit" value="Reply" class="button-primary"/>
					<div class="u-pull-right">
						<a href="{{url_for('post.show', post_id=view.post.id, slug=view.post.slug, _anchor='comment-' + view.reply_to_id|string)}}"
						   class="button button-default">Cancel</a>
					</div>

					{{_forms.csrf_form_input()}}
				</form>
			</div>
		{% endif %}
	{% endif %}
{% endmacro %}


{% macro render_edit_comment_form(view, user, comment) %}
	{% if user.id %}
		<div class="edit-form">
			{% if action_result and action_result.status == False %}
				<p class="error">{{action_result.result.error}}</p>
			{% endif %}
			Edit:
			<form action="{{url_for('post.save_comment', post_id=view.post.id)}}" method="POST" accept-charset="UTF-8">
				<input type="hidden" name="post_id" value="{{view.post.id}}"/>
				<input type="hidden" name="comment_id" value="{{comment.id}}"/>
				<textarea name="comment" class="u-full-width" placeholder="">{{comment.content}}</textarea>
				<input type="submit" value="Save" class="button-primary"/>
				<div class="u-pull-right">
					<a href="{{url_for('post.show', post_id=view.post.id, slug=view.post.slug, _anchor='comment-' + view.edit_comment_id|string)}}"
					   class="button button-default">Cancel</a>
				</div>

				{{_forms.csrf_form_input()}}
			</form>
		</div>
	{% endif %}
{% endmacro %}


{% macro render_single_comment(view, request, user, comment) %}
	{% set anchor_id = "comment-" + comment.id|string %}
	<div class="comment" id="{{anchor_id}}">
		<div class="voting u-pull-left">
			<a href="#" class="up-arrow"></a>
		</div>
		<div class="info">
			{% if not comment.username %}
				<span class="username">-</span>
			{% else %}
				<a class="user" href="{{url_for('users.user', username=comment.username)}}">{{comment.username}}</a>
			{% endif %}
			|
			<span class="time">{{comment.ctime|to_ago_string}}</span>
			|
			<a href="#comment-{{comment.id|string}}">link</a>
		</div>
		<div class="content-wrapper">
			{% if view.edit_comment_id == comment.id %}
				{{render_edit_comment_form(view, user, comment)}}
			{% else %}
				<div class="content">
					{% if comment.deleted %}
						<span class="deleted">deleted {{comment.mtime|ts_to_datetime_str}}</span>
					{% else %}
						{{_content.render_markdown(comment.content)}}
					{% endif %}
				</div>
			{% endif %}
			{% if not comment.deleted %}
			<div class="actions">
				{% set login_url = url_for("profile.login", next_url=request.path, _anchor=anchor_id) %}
				{% if comment.content and (view.reply_to_id != comment.id) %}
					{% if user.id %}
						{% set reply_url = url_for("post.show", post_id=view.post.id, slug=view.post.slug, reply_to_id=comment.id, _anchor=anchor_id) %}
					{% else %}
						{% set reply_url = login_url %}
					{% endif %}
					<a href="{{reply_url}}">
						reply
					</a>
				{% endif %}

				{% if user.id %}
					{% if view.edit_comment_id != comment.id and (user.id == comment.user_id or user.is_admin or user.is_moderator)  %}
						{% set edit_url = url_for("post.show", post_id=view.post.id, slug=view.post.slug, edit_comment_id=comment.id, _anchor=anchor_id) %}
						<a href="{{edit_url}}">
							edit
						</a>
					{% endif %}

					{% if (user.id == comment.user_id or user.is_admin or user.is_moderator) %}
						{% set delete_url = url_for("post.delete_comment", comment_id=comment.id) %}
						<a href="{{delete_url}}">
							delete
						</a>
					{% endif %}
				{% endif %}

				{# {% if user.id != comment.user_id %} #}
				{# 	<a href="{{url}}"> #}
				{# 		report #}
				{# 	</a> #}
				{# {% endif %} #}
			</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}


{% macro render_comments(view, request, user, comments) %}
	{% if comments.order -%}
		<ul class="unstyled comments thread">
			{% for id in comments.order -%}
				<li>
					{{render_single_comment(view, request, user, comments.children[id].value)}}
					{{render_reply_form(view, user, comments.children[id].value)}}
					{{render_comments(view, request, user, comments.children[id])}}
				</li>
			{%- endfor %}
		</ul>
	{% endif %}
{% endmacro %}


{% macro render_edit_url(post, user) %}
	{% if post.author == user.name or user.is_admin or user.is_moderator %}
		<a href="{{url_for('post.edit', post_id=post.id)}}"
		   class="control edit">
		   <span>edit</span>
		</a>
	{% endif %}
{% endmacro %}

{% macro render_recent_user_posts(view, user) %}
	<div class="posts">
		<h3>Recent posts</h3>
		</p>
		<div class="details">
			{% for post in view.posts %}
				<a href="{{url_for('post.show', post_id=post.id, slug=post.slug)}}" class="title">
					{{post.title}}
				</a>
				{{render_edit_url(post, user)}}
				{{render_meta(post, user)}}
				{{render_tags_div(post)}}
				<br/>
			{% endfor %}
		</div>
	</div>
{% endmacro %}
