{% import "_macros/content.jinja2" as _content %}
{% import "_macros/nav.jinja2" as _nav %}
{% import "_macros/users.jinja2" as _users %}
{% import "_macros/actions.jinja2" as _actions %}
{% import "_macros/forms.jinja2" as _forms %}

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="description" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<title>
			{{title}}
			{% if subtitle %}
				{{"- " + subtitle}}
			{% endif %}
		</title>

		<link rel="stylesheet" type="text/css"
			  href="{{url_for('static', filename='gen/css/main.css')}}">
	</head>
	<body>
		<section class="_u-max-full-width container">
			<div class="logo">
				<a href="/">
					modern<strong>schizoid</strong>
				</a>
			</div>
			{% if menu %}
				<nav class="main">
					{{_nav.render_view_menu(menu.view, user)}}
					{{_nav.render_profile_menu(menu.profile, user)}}
				</nav>
			{% endif %}
		</section>

		<section class="_u-max-full-width container">
			<div class="body-content">
				{% block body %}
				{% endblock body %}
			</div>
		</section>

		<section class="_u-max-full-width container">
			<div class="footer">
				{% block footer %}
					<div class="u-pull-left">
					</div>
					<div class="u-pull-right">
						<ul class="unstyled">
							{# <li> #}
							{# 	<a href="/about/privacy">Privacy</a> #}
							{# </li> #}
							<li> 
								<a href="{{url_for('help.main')}}">Help</a> 
							</li> 
							<li> 
								<a href="{{url_for('about')}}">About</a> 
							</li> 
						</ul>
					</div>
				{% endblock footer %}
			</div>
		</section>
	</body>
</html>
