{% extends "base/index.jinja2" %}
{% import "_macros/posts.jinja2" as _posts %}


{% block body %}
	<div class="posts index comments">
		<h3>{{view.subtitle}}</h3>
		{% if view.listing_title %}
			<h3>{{view.listing_title}}</h3>
		{% endif %}

		{% for c in view.comments %}
			<div class="row">
				<a href="{{url_for('comments.by_user', username=c.author|quote_plus, page_id=0)}}" class="user">{{c.author}}</a> |
				{{c.ctime|to_ago_string}}
				|
<a href="{{url_for('post.show', post_id=c.post_id, slug=c.post_title|slug(70), _anchor="comment-" + c.id|string)}}" class="title">{{c.post_title}}</a>				
				<br/>
				{{_content.render_markdown(c.content[:2048])}}
			</div>
			<br/>
		{% endfor %}

		<hr/>
		{{_posts.render_pagination(view.pagination)}}
{% endblock body %}
