{% extends "base/index.jinja2" %}
{% import "_macros/posts.jinja2" as _posts %}

{% macro render_buttons(post) %}
	<a class="button button-primary" href="{{url_for('post.publish', post_id=post.id)}}">
		Publish
	</a>

	<a class="button button-default" href="{{url_for('post.edit', post_id=(post.id or None))}}">
		Edit
	</a>
{% endmacro %}

{% block body %}
	<div class="posts post">
		<p class="warning">This is a preview</p>
		{{render_buttons(view.post)}}
		<hr/>
		<div class="details">
			<div>
				<a href="{{view.post.url or ''}}" class="title">
					{{view.post.title|e}}
				</a>
				
				{{_posts.render_tags_links(view.post)}}
			</div>

			{{_posts.render_meta_post(view.post)}}

			<div class="description">
				{{(view.post.description or "")|e}}
			</div>
		</div>

		{% if view.post.content %}
			<div class="post-content u-full-width">
				{{_content.render_markdown(view.post.content)}}
			</div>
		{% endif %}
		
	</div>
{% endblock body %}
