{% extends "base/index.jinja2" %}
{% import "_macros/posts.jinja2" as _posts %}

{% block body %}
	<div class="posts edit-post box">
		<h3>Edit post</h3>
		{{_content.formatting_help_link()}}
		{{_actions.render_errors(view.action_result)}}
		<hr/>
		<form action="{{url_for('post.save')}}" method="POST" accept-charset="UTF-8">
			{% if view.post.id %}
				<input type="hidden" name="id" value="{{view.post.id}}" required/>
			{% endif %}
			<div>
				<label for="post-title">Title</label>
				<span class="hint">Max. 256 characters</span>
				<input type="text" maxlength="256" name="title" placeholder=""
					   class="u-full-width" id="post-title"
					   value="{{view.post.title|e}}"
					   required/>
			</div>
			<div>
				<label for="post-url">Source URL</label>
				<span class="hint">Leave empty if no source</span>
				<input type="text" maxlength="2048" name="url" placeholder=""
					   value="{{(view.post.url or "")}}"
					   class="u-full-width" id="post-url"/>
			</div>
			<div>
				<label for="post-description">Description</label>
				<span class="hint">
					Short description visible on the main page. Max. 256 characters.
					{{_content.formatting_help_link()}}
				</span>
				<textarea maxlength="256"
						  name="description" placeholder=""
						  class="u-full-width"
						  id="post-description">{{(view.post.description or "")|e}}</textarea>
			</div>
			<div>
				<label for="post-content">Content</label>
				<span class="hint">Max. 200kb.{{_content.formatting_help_link()}}</span>
				<textarea maxlength="204800"
						  name="content" placeholder=""
						  class="u-full-width"
						  id="post-content">{{(view.post.content or "")|e}}</textarea>
			</div>
			<div>
				<label for="post-tags">Tags</label>
				<span class="hint">Space or comma separated list (max. 5 tags).</span>
				<input type="text" maxlength="96" name="tags" placeholder="psychology culture habits pdf"
					   value="{{view.post.tags|join(', ')|e}}"
					   class="u-full-width" id="post-tags"/>
			</div>
			
			<input type="submit" value="Publish" class="button button-primary" name="publish"/>
			<input type="submit" value="Preview" class="button button-default" name="preview"/>
			<div class="u-pull-right">
				<a href="{{url_for('post.cancel_edit')}}" class="button button-default">Cancel</a>
			</div>
			{{_forms.csrf_form_input()}}
		</form>
		{% if view.allow_remove %}
		<hr/>
		<div class="row">
			<div class="u-pull-right">
				<a href="{{url_for('post.remove', post_id=view.post.id)}}" class="button button-remove">Remove this post</a>
			</div>
		</div>
		{% endif %}
	</div>
{% endblock body %}
