{% extends "base/index.jinja2" %}
{% import "_macros/posts.jinja2" as _posts %}

{% block body %}
	{% set post = view.post %}
	<div class="row posts remove-post box">
		<div class="details">
			<h3>Remove post?</h3>
			<div>
				{% set details_url = url_for("post.show", post_id=post.id, slug=post.slug) %}
				{% if post.content %}
					<a href="{{details_url}}" class="title">{{post.title}}</a>
				{% else %}
					<a href="{{post.url or details_url}}" class="title">{{post.title}}</a>
				{% endif %}
				{{_posts.render_tags_div(post)}}
			</div>

			{{_posts.render_meta(post, user)}}

			<div class="description">
				{{post.description or ""}}
			</div>
		</div>
		<form action="{{url_for('post.remove', post_id=post.id)}}" method="POST">
			<input type="hidden" name="verification" value="{{view.verification}}"/>
			{{_forms.csrf_form_input()}}
			<input type="submit" value="Remove" class="button button-remove" name="remove"/>
		</form>
	{% endblock body %}
	
