$color-bg: #fff;
$color-fg: #444;
//$color-link: #21ba45;
$color-link: #11afd4;
$color-link-nav:  #41bf34;
$color-link-brand:  $color-link-nav;
$color-border: #ddd;
$default-border: 1px solid $color-border;
